*{
	margin:0;
	padding:0;
}

body{
	margin:0;
	padding:0;
	font-family:'Lato', sans-serif;
    text-align: left;
}
	.body1{
	margin-top: 50%;
  
	padding:0;
	font-family:'Lato', sans-serif;
    text-align: left;
        font-size: 1.3em;
        line-height: 1.5em;
}
.body12{
 
	padding:0;
	font-family:'Lato', sans-serif;
    text-align: left;
        font-size: 1.3em;
       line-height: 1.5em;
}

.body2{
	margin-top: 15%;
	padding:0;
	font-family:'Lato', sans-serif;
    text-align: left;
        font-size: 1.3em;
        line-height: 1.5em;
}
a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	color:#FFFFFF;
}
a:hover{
	text-decoration:none;
	background-color:#efff00;
	color:#369fae;
}
h1{
	font-family:'lato', sans-serif;
	font-size:50px;
	color:#efff00;
}
h2{
	font-family:'lato', sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
}
#wrapper{
	float:left;
	width:100%;
	height:100%;
}
#left-col{
	width:35%;
	float:left;
    
}
#left-col #page-title{
	width:100%;
	padding-top:100px;
	padding-bottom:20px;
	float:left;
	text-align:right;
	line-height:38px;

}
#left-col #main-menu{
	float:left;
	width:100%;
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:right;
}
#left-col #main-menu ul{list-style:none;}
#right-col{
	width:60%;
	margin-left:5px;
	float:right;
	/*border-top:#f56d13 20px solid;*/
}
#right-col #hot-spot{
	width:100%;
	margin-top:20px;
	float:left;
	font-size:72px;
	color:#FFFFFF;
	text-align:left;
	font-weight:bold;
	letter-spacing:-5px;
	line-height:55px;
}
.texts{
	width:200px;
	margin-right:5%;
	margin-top:60px;
	font-size:12px;
	color:#FFFFFF;
	float:left;
    letter-spacing: 1px;
}
.texts p{
	margin:0;
	padding:0;
    font-size: 1.5em;
	line-height:1.2em;
	float:left;
	text-align:left;
}
.texts p:first-letter{
	font-size:2em;
}
#rodape_container{
	width:100%;
	float:left;
	height:40px;
	color:#FFFFFF;
	font-size:16px;
	margin-top:50px;
}
#rodape{
	height:40px;
	width:100%;
	float:right;
	padding:0;
	border-bottom:#efff00 10px solid;
	text-align:right;
}
#rodape p{
	margin-right:5%;
}
.sample{
    font-family: 'Lato', sans-serif;
    color: white;
        line-height: 1.1em;
    font-size: 0.8em;
    letter-spacing: 0;
    margin-bottom: -25px;
}
#thin
{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

#light
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
#normal
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#bold
{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
#ultrabold
{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
#italic
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style:italic;
}
/*circle*/
.container {

  height: auto;
  background:f0e151;
    margin: auto;
}

.span3 {
  width: 24.6%;
  height: auto;
  display: inline-block;
}

.span4 {
  width: 33.0%;
  height: auto;
  display: inline-block;
}

.span6 {
  width: 49.7%;
  height: auto;
  display: inline-block;
}

.circle {
  position: relative;
  border-radius: 50%;
  width: 45%;
  height: auto;
  padding-top: 50%;
    margin:20px;
  background: #f54713;
}
.ligtitle{
    font-family: 'lato',sans-serif;
    font-size: 3em;
    text-align: left;
    color: #1cb1a9;
    margin-top: 25px;
    margin-bottom: 50px;
}
.ligature{
 
    color: #ffffff;
    font-size: 4em;
     position: relative;
    overflow: hidden;
     font-family: 'Lato', sans-serif;
    font-weight: 400;
  text-align: center;
    margin-bottom: 0px;

}

.liblue{
   background: #1cb1a9;
      text-align: center;
    opacity: 0.8;

}
.lior{
     background: #F04B23;
      text-align: center;
     opacity: 0.8;

    
}
.liviolet{
     background: #863C96;
      text-align: center;
     opacity: 0.8;

    
}
.liblue:hover{
    border-radius: 50%;
}
.lior:hover{
    border-radius: 50%;
}
.liviolet:hover{
    border-radius: 50%;
}
.title{
    color:#029fab;
    font-size: 4em;
    position: absolute;
      margin-left: -260px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: left;
  
}
.title2{
    color:#fff;
    font-size: 4em;
    position: absolute;
      margin-left: -260px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: left;
  
}
.top{
    height: 50%;
}
.title1{
font-family: 'Lato', sans-serif;
	font-weight: normal;
        font-size: 5em;
	letter-spacing: .2em;
	line-height: 1.1em;
    margin-top: 20%;
	text-align: left;
    color:#863c96;
	
}

/*Timeline*/


 #timeline {
  list-style: none;
  width: 100%;
  height: 200px;
  margin: 200px 0 0;
  border-top: 6px solid #1cb1a9;
  display: table;
  border-spacing: 30px 0;
}
#timeline li {
  display: table-cell;
  position: relative;
  min-width: 100px;
}

#time .circle {
  margin: 0 auto;
  top: -14px;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #fffff0;
  border: 6px solid #f98262;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  text-align: center;
  position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  border: 6px solid #863c96;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 30px;
  background: #fffff0;
}

.content:before {
  content: '';
  width: 50px;
  height: 100px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
}

li.down .content:before {
  border-left: 4px solid #f98262;
  border-bottom: 4px solid #f98262;
  -webkit-border-radius: 0 20px;
  -moz-border-radius: 0 20px;
  border-radius: 0 20px;
}
li.down .avatar {
  top: 80px;
  left: 100px;
}

li.up .content {
  margin-top: -106px;
}
li.up .content:before {
  border-left: 4px solid #f98262;
}
li.up .date {
  margin-top: 90px;
    color: #1cb1a9;
    font-size: 300px;
    font-weight: 700;
}



li.down .date {
  margin-top: -70px;
}
.pdate {

    color: #1cb1a9;
    font-size: 2.5em;
    font-weight: 700;
}
li.up .avatar {
  background: #fffff0;
  margin-top: -30px;
}

.rectangle {
  border: 1px solid #f98262;
  border-radius: 30px;
  height: 30px;
  width: 200px;
  top: -19px;
  position: relative;
  background: #fffff0;
  line-height: 30px;
  text-align: center;
}

.ptime{
    margin-top: 30%;
    text-align: left;
    margin-left: 15%;
    width: 120%;
}

.ptime2 {
    margin-top: -40px;
    text-align: left;
    margin-left: 70%;
    width: 120%;
    position: absolute;
}

.display{
    font-family: 'Lato', sans-serif;
    font-size: 3.5em;
    text-align: left;
   
}
