/*
	General styles
*/
body {
	font-family: "Source Sans Pro", Arial, sans-serif;
	background-color: #c7e1ff;
	font-size: 13px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
	height: 100%
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}
h1 {
	
	font-weight: bold;
	font-size: 2.2em;
    color:#fff;
    text-align: left;
}
h2 {
	font-size: 20px;
    text-align: left;
}
label{
    font-family: 'lato', sans-serif;
    text-align: left;
}
.btn-cta{
      font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 1px;
  padding: 15px 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
        background-color: #F04B23;
  border: 1px solid white;
    color:#fff;
    font-family: 'Lato', sans-serif;
}
.btn-cta:hover, .btn-cta:focus {
  background-color: #fff;
  color: #1fb1a8;
}

a, a:visited {
	text-decoration: none;
	
}
a:hover {
	text-decoration: underline;
}
.touchonly {
	display: none;
}
html.touch .touchonly {
	display: block;
}
.noselect * {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.doselect * {
	user-select: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
